// Body
$body-bg: #f8fafc;
// $body-gredient-from : #081221;
// $body-gredient-to :#03080f;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
